<%-include('../adminLayouts/adminHeader')%>

<% monthArr = ['01','02','03','04','05','06','07','08','09','10','11','12'] %>

<div class="updateEvent py-2">

    <!-- --------------form container for edit user-------------------------------  -->
    <div class="container py-5 border border-1 rounded-2 border-dark" >
        <h3 class="text-center">UPDATE EVENT</h3>
        <form class="row g-3 justify-content-center mx-auto" enctype="multipart/form-data" method="post" action="/admin/updateEvent" >
                 
          <% 
        if(typeof message1!='undefined'  ){
        %>

            <p class="text-center fs-4" style="color:rgb(3, 116, 3);">  <span class="warning-mess"> &#9673; </span> <%= message1.msg %></p>
        <%}
        else if(typeof message!='undefined'){ %>
          <p class="text-center fs-4" style="color:rgb(3, 116, 3);">  <span class="warning-mess"> &#9673; </span> <%= message %></p>
          <% } %>
          
          
          
          
          <!-- -----it is for take specific user id for recognisation---- -->
                 <input type="hidden" name="event_id" value="<%=event._id%>">
     
            <div class="col-md-5">
              <label for="Ename" class="form-label">Event Name</label>
              <input type="text" name="eventName" class="form-control"  value="<%=event.eventName%>" id="Ename"  required>
            </div>
            <div class="col-md-5">
              <label for="Esubname" class="form-label">Event Subname</label>
              <input type="text" value="<%=event.eventSubname%>" name="eventSubname" class="form-control" id="Esubname" required>
            </div>
            <div class="col-md-10">
              <label for="Elocation" class="form-label">Event Location</label>
              <input type="text" name="eventLocation" class="form-control" value="<%=event.eventLocation%>" id="Elocation" placeholder="eg : REC Banda" required>
            </div>
            <div class="col-md-10">
              <label for="Etime" class="form-label">Event Time</label>
              <input type="text" value="<%=event.eventTime%>" name="eventTime" class="form-control"  id="Etime" placeholder="10:00 pm" required>
            </div>
            
            <div class="col-md-5">
                <label for="Estartdate" class="form-label">Event Start Date</label>
                <input type="date" name="eventdateStart"
                value="<%const date = new Date(event.eventdateStart);
              const dateDay = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
              const formattedDate =date.getFullYear()+ '-' +monthArr[date.getMonth()] + '-' +dateDay;
              %><%= date.getFullYear()+'-'+monthArr[date.getMonth()]+'-'+dateDay; %>"
                 class="form-control"  id="Estartdate" >
            </div>
            
            <div class="col-md-5">
                <label for="Eenddate" class="form-label">Event End Date</label>
                <input type="date" name="eventdateEnd" class="form-control"
                value="<%const dates = new Date(event.eventdateEnd);
              const dateDays = dates.getDate() < 10 ? '0' + dates.getDate() : dates.getDate();
              const formattedDates =dates.getFullYear()+ '-' +monthArr[dates.getMonth()] + '-' +dateDays;
              %><%= dates.getFullYear()+'-'+monthArr[dates.getMonth()]+'-'+dateDays; %>" id="Eenddate" placeholder="10:00 pm">
            </div>
            <div class="col-md-10">
                <label for="Eimage" class="form-label">Event Image</label>
                <input type="file" value="<%=event.eventImage%>" name="eventImage" class="form-control"  id="Eimage">
              </div>

            <div class="col-md-10">
                <label for="Ediscription" class="form-label">Event Discription</label><br>
                 <textarea class="form-control" name="eventDiscription" value="<%=event.eventDiscription%>" 
                  id="Ediscription" rows="8" placeholder="Write your event discription in a proper formate"></textarea>

              </div>
           
            <div class="col-md-8 text-center">
              <button type="submit" class="btn btn-primary">ADD EVENT</button>
            </div>
          </form>
    </div>
</div>



<%-include('../adminLayouts/adminFooter')%>