<%-include('../layouts/header')%>

 <!-- ---------------CSS code for this page on the sendForgetPassMail.css (This section code is copy of sendForgetPassMail.ejs only change the wrapper class name)---------------- -->

<section class="wrapper-forget-password">
    <div class="container">
      <div
        class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center"
      >
        <div class="logo"></div>
        <form action="/forgetPassword" class="rounded shadow bg-white p-5" method="post">
          <div class="logo1">
            <img src="/website-img/user_icon_img.png" class="img-fluid mb-4" style="width:70px" height="70px" alt="user_icon"/>
          </div>
          <h3 class="text-center mb-2"> Forget Password? </h3>
          <div class="fw-narmal text-muted mb-4">
            Enter your new Password
          </div>
          <% 
          if(typeof Smessage!='undefined'){
          %>
              <p class="text-center" style="color: green">    <%= Smessage %></p>
             <% 
         
          }
          %> 

  
          <% 
          if(typeof message!='undefined'){
          %>
              <p class="text-center" style="color: rgb(195, 15, 15);">    <%= message %></p>
             <% 
         
          }
          %>

          <input type="hidden" name="user_id" value="<%= user_id%>">
  
          <div class="form-floating mb-3">
            <input
              type="password"
              name="password"
              class="form-control"
              id="floatingInput"
            />
            <label for="floatingInput">New Password</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="password"
              name="confPassword"
              class="form-control"
              id="floatingInput"
            />
            <label for="floatingInput">Conform Password</label>
          </div>
  
          <input
            type="submit"
            class="btn btn-primary rounded-pill my-4 px-4"
            value="RESET"
          />
          
        </form>
      </div>
    </div>
  </section>

<%-include('../layouts/footer')%>